@{
    ViewData["Title"] = "View Request Logs";
}

<div class="text-left">
    <h1 class="display-6" style="color: #0366d6">Лог запросов</h1>
    <br>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Идентификатор</th>
                <th scope="col">Дата и время</th>
                <th scope="col">URL</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var request in Model)
            {
                <tr>
                    <td>@request.Id</td>
                    <td>@request.Date</td>
                    <td>@request.Url</td>
                </tr>
            }
        </tbody>
    </table>
</div>
