@{
    ViewData["Title"] = "Add a Review";
}

<script>
    function ProcessForm() {

        // Инициализация объекта формы
        let data = new FormData();

        // Вытаскиваем информацию из полей на странице и добавляем в объект формы
        data.set("From", document.querySelector('[name="From"]').value);
        data.set("Text", document.querySelector('[name="Text"]').value);

        // создаем объект запроса
        let postRequest = new XMLHttpRequest();
        postRequest.open('POST', document.URL, true); /* true = запрос будет выполнен асинхронно */

        // посылаем запрос
        postRequest.send(data);

        // Функция - обработчик результата с сервера
        postRequest.onload = function () {

            // сохраняем ответ сервера. не лишним будет также добавить проверку на успешный запрос
            let serverMessage = this.response;

            /* Код ниже изменяет значение формы */

            // Находим контейнер
            let element = document.getElementsByClassName("container")[1];

            // Удаляем вложенный контейнер с формой
            element.children[0].remove();

            // Создаем новый элемент
            let paragraph = document.createElement("h4");

            // Добавляем ему стиль
            paragraph.style = "text-align: center";

            // Сохраняем в него сообщение сервера
            paragraph.innerText = serverMessage;

            // Добавляем дочерные элементы на страницу
            element.appendChild(document.createElement("br"));
            element.appendChild(paragraph);
        };
    }
</script>

<div class="text-left">
    <div>
        <h1 class="display-4" style="color: #0366d6">Оставьте отзыв о проекте</h1>
        <br>
        <div class="mb-3">
            <label for="exampleInputText" class="form-label">Ваше имя:</label>
            <input type="text" class="form-control" id="exampleInputText" name="From">
        </div>
        <div class="mb-3">
            <label for="exampleInputText" class="form-label">Ваш отзыв:</label>
            <input type="text" class="form-control" id="exampleInputText" name="Text">
        </div>
        <br>
        <button type="submit" class="btn btn-primary" onclick="ProcessForm()">Отправить</button>
    </div>
</div>
